* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  background-color: #303030;
}
.container {
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
}
/*Small*/
@media (min-width: 768px) {
  .container {
    width: 780px;
  }
}

/*Medium*/

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

/*Larg*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.top-header {
  background-color: #303030;
  color: #ffffff;
  padding: 10px 0;
  position: fixed;
  z-index: 500;
  width: 100%;
}
.top-header .container .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header .container .menu .logo img {
  width: 100px;
}
.top-header .container .menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
  position: relative;
}
.top-header .container .menu ul li {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
.top-header .container .menu .search img {
  width: 20px;
  position: relative;
  left: 40px;
}
.landing {
  background-image: url(../images/aa.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.landing .context .container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 20px;
  max-width: 600px;
  position: absolute;
  top: 47%;
}
.landing .context .title span {
  font-size: 100px;
  font-weight: 400;
  position: relative;
  top: 20px;
}
.landing .context .par p {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.landing .context .btn {
  cursor: pointer;
}

.landing .context .btn span {
  font-weight: 400;
  background-color: #e8631c;
  padding: 5px 50px;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 5px;
}
/*Small*/
@media (max-width: 768px) {
  .top-header .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .landing .context .container {
    top: 40%;
  }
  .landing .context .title span {
    font-size: 45px;
  }
  .landing .context .par p {
    font-size: 14px;
    line-height: 1.4em;
  }
  .landing .context .btn span {
    padding: 5px 10px;
    font-size: 22px;
  }
  .top-header .container .menu {
    justify-content: space-between;
    align-items: flex-start;
  }
  .top-header .container .menu .logo img {
    width: 80px;
    justify-self: left;
  }
  .top-header .container .menu .nav {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
    justify-self: right;
    position: relative;
  }
  .top-header .container .menu .nav span {
    background-color: #ffffff;
    height: 2px;
    transition: all 0.6s;
  }
  .top-header .container .menu .nav.opened {
    top: -7.5px;
  }
  .top-header .container .menu .nav.opened span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 16.5px;
    height: 3px;
    transition: all 1s;
  }
  .top-header .container .menu .nav.opened span:nth-child(2) {
    display: none;
    transition: all 1s;
  }
  .top-header .container .menu .nav.opened span:last-child {
    transform: rotate(45deg);
    position: relative;
    height: 3px;
    transition: all 1s;
  }
  .top-header .container .menu ul {
    list-style: none;
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 65vh;
    background-color: #303030;
    top: 40px;
    left: 0px;
  }
  .top-header .container .menu ul li {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    position: relative;
    left: -20px;
    top: 5%;
    background-color: #e8631c;
    margin-bottom: -20px;
  }
  .top-header .container .menu ul li:first-child {
    margin-top: 10px;
  }
  .top-header .container .menu .search img {
    width: 20px;
    display: none;
  }
}

/*Medium*/

@media (max-width: 992px) {
}

/*Larg*/

@media (min-width: 1200px) {
}
.dance-tour {
  background-color: #e8631c;
  color: #ffffff;
  padding-bottom: 60px;
}

.context-1 {
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.context-1 .title {
  font-size: 55px;
  font-weight: bold;
}
.context-1 .para {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  max-width: 700px;
}
.galerry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.galerry .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
}
.galerry .box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.galerry .box span {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
}
.galerry .box p {
  padding: 0 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.galerry .box-p {
  color: #ffffff;
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8631c;
  border-radius: 10px;
  height: 400px;
}
.galerry .box-p img {
  padding-top: 30px;
  width: 100px;
  object-fit: cover;
}
.galerry .box-p span {
  padding-top: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
}
.galerry .box-p p {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.galerry .box-p .btn {
  padding: 20px 20px;
  font-weight: 400;
  background-color: #303030;
  width: calc(100% - 20px);
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
}
